.finalResume {
    border: 2px solid blue;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    /*flex: 1;*/
    height: 10vh;
    border: 1px solid rebeccapurple;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.Name {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.contactInfo {
    display: flex;
    justify-content: space-between;
}

.education {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
}

.University,
.Degree,
.CGPA {
    display: flex;
}

.education span {
    flex: 1;
    text-align: center;
}

.achievementContent {
    text-align: left;
    /*border: 1px solid red;*/
}

.experience {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 1rem;
}

.Role,
.Employer,
.Duration {
    display: flex;
    justify-content: space-between;
}

.Achievements {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

