:root {
    --background: #202030;
    --padding: 1em;
    --border_radius: 12px;
    --gap: 12px;
}

.generalSubmitInfo {
    display: flex;
    border: 1px solid gray;
    border-radius: var(--border_radius);
    flex-direction: column;
    align-items: center;
    padding: var(--padding);
    gap: var(--gap);
    background-color: var(--background);
}

.generalSubmitInfoContent {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.firstName,
.lastName,
.contact,
.email,
.address,
.linkedIn {
    display: flex;
    gap: calc(var(--gap) * 2);
}

p {
    width: 100px;
    text-align: left;
}

.generalSubmitInfo > span {
    flex: 1;
    border-radius: var(--border_radius);
}

a {
    display: inline;
    flex: 1;
    text-align: center;
}

.General {
    border: 1px solid red;
    border-radius: var(--border_radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding: var(--padding);
    background-color: var(--background);
}

button,
.submitBtn {
    width: 75px;
    margin: auto;
}

.General > form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.inputContainer {
    display: flex;
}

.inputContainer > label {
    display: inline-block;
    width: 100px;
    text-align: left;
}
