* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    min-height: 80vh;
    border: 1px solid blue;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    padding: 10vh 10vh 0 10vh;
}

.forms,
.result {
    flex: 1;
    max-width: 50vw;
    max-height: 80vh;
}

.forms {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

